# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
node_modules/


# Other files and folders
.settings/
.idea/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
cusCMD

# config file avoid exposing private data
*_dev.yaml

core_api
core_rpc